body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

body div p {
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-right: 20px;
}

h3 {
    color: black;
    margin: 0;
    padding: 0;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFF0F2;
}

h4 {
    font-style: italic;
    margin-left: 20px;

}

.name-title-style {
    text-align: left;
    color: white;
    margin: 0;
    padding: 3px;
    min-height: 35em;
    display: block;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, black, #004aad);
}

.main-title {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 90px;
    margin-left: 20px;
    padding: 10px;
}

.navigation-menu {
    padding: 20px;
    display: block;
    font-size: 20px;
    color: white;
    list-style-type: none;
    background: linear-gradient(to right, black, #004aad)
}

.horizontal-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;

}

.horizontal-list li {
    margin-right: 20px;
}

.horizontal-list li a {
    text-decoration: none;
    color: #f7f3f3;
    font-weight: bold;
}

.horizontal-list li a:hover {
    color: #007BFF;
}

/* Blink Animation for sections */
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.about-me {
    display: block;
    font-size: 18px;
}

.personal-profile {
    text-align: left;
    font-size: 20px;
    max-width: 1000px;
    padding: 1em;

}

#profile-picture {
    max-height: 200px;
    max-width: 200px;
    border-radius: 70px;
    position: absolute;
    top: 20%;
    right: 9%;
    display: block;
}

#skills-list,
#work-experience,
#languages {
    font-size: 20px;
}

#skills-list:target,
#work-experience:target,
#languages:target,
#contact:target {
    animation: blink 1s;
}

.three-columns {
    columns: 3;
    column-gap: 50px;
    /*padding: 20px;*/

}

/*Footer Styles*/
.footer-style {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 20px;
    padding: 0.2em;
    display: block;
    justify-content: left;
    align-items: center;
    background: linear-gradient(to right, black, #004aad);
}

#linkedin-logo,
#facebook-logo,
#instagram-logo,
#github-logo {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    margin: 5px;
    background-color: white;
}